{% extends "frontpage/base.html" %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  {% block content %}
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Revenus de l'année {{ today.year }}</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> Super Toutous
                    <small class="float-right">Date: {% language 'fr' %}{{ today }}{% endlanguage %}</small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  <address>
                    <strong>SUPER TOUTOUS</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    Phone: (804) 123-5432<br>
                    Email: info@supertoutous.fr
                  </address>
                </div>
                <!-- /.col -->
                <!-- /.col -->
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>RDV #ID</th>
                      <th>Date</th>
                      <th>Client</th>
                      <th>Service(s)</th>
                      <th>Description</th>
                      <th>Paiement</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rdv in rdv_list %}
                      <tr>
                        <td>{{ rdv.id }}</td>
                        <td>{% language 'fr' %}{{ rdv.completed }}{% endlanguage %}</td>
                        <td>{{ rdv.client.prenom }} {{ rdv.client.nom }} </td>
                        <td>
                          {% for service in rdv.service.all %}
                            - {{ service }} <br />
                          {% endfor %}
                        </td>
                        <td>{{ rdv.comment }}</td>
                        <td>
                          {% for service_prix in rdv.service.all %}
                            + {{ service_prix.prix }}€ <br />
                          {% endfor %}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                  <p class="lead"></p>
                  <img src="../../dist/img/credit/visa.png" alt="">
                  <img src="../../dist/img/credit/mastercard.png" alt="">
                  <img src="../../dist/img/credit/american-express.png" alt="">
                  <img src="../../dist/img/credit/paypal2.png" alt="">

                  <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                    
                  </p>
                </div>
                <!-- /.col -->
                <div class="col-6">
                  <p class="lead">Montant</p>

                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th style="width:50%">Total HT:</th>
                        <td>{{ gain_total }}€</td>
                      </tr>
                      <tr>
                        <th>TVA (20%)</th>
                        <td>{{ gain_tva }}€</td>
                      </tr>
                      <tr>
                        <th>Total Net:</th>
                        <td>{{ gain_net }}€</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <!--<button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
                    Payment
                  </button>-->
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
</body>
{% endblock %}
</html>
