{% extends "frontpage/base.html" %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Nouveau client</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <form method="POST" action="{% url 'client_edit' client.id %}">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Informations générales</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="inputName">Prénom</label>
                  <br>
                  {{ form.prenom|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="inputName">Nom</label>
                  <br>
                  {{ form.nom|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="inputDescription">Adresse</label>
                  <br>
                  {{ form.adresse|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="inputClientCompany">Numéro de téléphone</label>
                  <br>
                  {{ form.num|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="inputProjectLeader">Toiletteur</label>
                  <br>
                  {{ form.toiletteur|add_class:"form-control" }}
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-6">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Informations complémentaires</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="inputEstimatedBudget">Chien</label>
                  <br>
                  {{ form.chien|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="inputSpentBudget">Profession</label>
                  <br>
                  {{ form.profession|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="inputDescription">Commentaires</label>
                  <br>
                  <div id="inputName">
                  {{ form.comment|add_class:"form-control" }}
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      
      <div class="row">
        <div class="col-12">
          <a href="{% url "clients" %}" class="btn btn-secondary">Retour</a>
          <input type="submit" value="Enregistrer les modifications" class="btn btn-success float-right">
        </div>
      </div>
    </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
</body>
{% endblock %}
</html>
