{% extends "frontpage/base.html" %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->

  <!-- /.navbar -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Rendez-Vous</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
              </div>
              
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Chien(s)</th>
                    <th>Service(s)</th>
                    <th>Durée</th>
                    <th>Gain HT</th>
                    <th>Commentaire</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                {% for rdv in rdvs %}
                    {% if not rdv.completed %}
                      <tr>
                        <td>
                          {% language 'fr' %}
                            {{ rdv.date }}
                          {% endlanguage %}
                        </td>
                        <td>{{ rdv.client }}</td>
                        <td>
                          {% for chien in rdv.client.chien.all %}
                          - {{ chien }} <br />
                        {% endfor %}
                        </td>
                        <td>
                          {% for service in rdv.service.all %}
                            - {{ service }} <br />
                          {% endfor %}
                        </td>
                        <td>
                          {% for service_duree in rdv.service.all %}
                            + {{ service_duree.duree }} <br />
                          {% endfor %}
                        </td>
                        <td>
                          {% for service_prix in rdv.service.all %}
                            + {{ service_prix.prix }}€ <br />
                          {% endfor %}
                        </td>
                        <td>
                          {{ rdv.comment }}
                        </td>
                        <td style="display: flex;">
                          <form method="POST" action="{% url 'rdv_complete' rdv.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success"><i class="nav-icon fas fa-credit-card"></i></button>
                          </form>

                          <form method="POST" action="{% url 'rdv_delete' rdv.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><i class="nav-icon fas fa-trash"></i></button>
                          </form>
                        </td>
                      </tr>
                    {% endif %}
                {% endfor %}
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
</body>
{% endblock %}
</html>
